.spots-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: start;
  max-width: 1200px;
  margin: 0 auto;
}
  
.spot-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 280px;
    position: relative;
}

  
  
  .spot-card img {
    width: 100%;
    height: 30dvh;
    object-fit: cover;
  }
  
  .spot-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .spot-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .spot-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .spot-rating {
    font-size: 14px;
    color: #555;
    height: fit-content;
    width: fit-content;
  }
  
  .spot-price {
    font-size: 16px;
    color: #222;
    font-weight: bold;
  }
  
  .button-container {
    justify-content: flex-start;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
  }

  .button-container span {
    padding: 5px;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
  }
  
  button {
    font-size: 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(52, 51, 51);
  }

  
  .tooltiptext {
    visibility: hidden;
    background-color: #ffffff9c;
    color: #191610d6;
    text-align: center;
    width: 10dvw;
    justify-content: center;
    z-index: 2;
    position: relative;
  }
  
  .spot-card:hover .tooltiptext {
    visibility: visible;
    opacity: 100%;
    bottom: 50dvh;
    left: 9dvh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }